<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400|Droid+Serif:400,400italic|Raleway:200,700|Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
    <link rel="stylesheet" href="bower_components/angular-formstamp/build/formstamp.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="vioApp" class="{{location}}-view">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-view=""></div>
    
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/angular-slick/dist/slick.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jquery-waypoints/waypoints.js"></script>
    <script src="bower_components/SHA-1/sha1.js"></script>
    <script src="bower_components/angulartics/src/angulartics.js"></script>
    <script src="bower_components/angulartics/src/angulartics-adobe.js"></script>
    <script src="bower_components/angulartics/src/angulartics-chartbeat.js"></script>
    <script src="bower_components/angulartics/src/angulartics-flurry.js"></script>
    <script src="bower_components/angulartics/src/angulartics-ga-cordova.js"></script>
    <script src="bower_components/angulartics/src/angulartics-ga.js"></script>
    <script src="bower_components/angulartics/src/angulartics-gtm.js"></script>
    <script src="bower_components/angulartics/src/angulartics-kissmetrics.js"></script>
    <script src="bower_components/angulartics/src/angulartics-mixpanel.js"></script>
    <script src="bower_components/angulartics/src/angulartics-piwik.js"></script>
    <script src="bower_components/angulartics/src/angulartics-scroll.js"></script>
    <script src="bower_components/angulartics/src/angulartics-segmentio.js"></script>
    <script src="bower_components/angulartics/src/angulartics-splunk.js"></script>
    <script src="bower_components/angulartics/src/angulartics-woopra.js"></script>
    <script src="bower_components/angulartics/src/angulartics-marketo.js"></script>
    <script src="bower_components/angulartics/src/angulartics-intercom.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
    <script src="bower_components/angular-formstamp/build/formstamp.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Angulartics -->
    <script src="bower_components/angulartics/dist/angulartics.min.js"></script>
    <script src="bower_components/angulartics/dist/angulartics-piwik.min.js"></script>
    <!-- End Angulartics -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaJ9fqsUQO1ry-zTx6rrihkygvGA9JdVI"></script>


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/filters/vioFilters.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/navbar.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/employeeModal.js"></script>
        <script src="scripts/controllers/commentModal.js"></script>
        <script src="scripts/controllers/customerReg.js"></script>
        <script src="scripts/controllers/users.js"></script>
        <script src="scripts/controllers/userModal.js"></script>
        <script src="scripts/controllers/currentUserModal.js"></script>
        <script src="scripts/controllers/serviceModal.js"></script>
        <script src="scripts/controllers/company.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/customerService.js"></script>
        <script src="scripts/services/employeeService.js"></script>
        <script src="scripts/services/serviceFactory.js"></script>
        <script src="scripts/services/commentFactory.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/directives/mongooseError.js"></script>
        <!-- endbuild -->
</body>
</html>
